header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    max-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

a {
    color: #000000;
    text-decoration: none;
}

.header-container {
    display: flex;
    width: calc(100% - 100px);
    justify-content: space-between;
    align-items: center;
    left: 0; /* Alineado con el borde izquierdo de la pantalla */
    padding-left: 100px; /* Ajusta según necesidad */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenedor del login y carrito */
.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Estilo del botón del carrito */
#carrito-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carrito-btn {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;

    align-items: center;
    justify-content: center;
}

.carrito-btn:hover {
    text-decoration: underline;
}

#login-container {
    min-width: 200px;
    max-width: 200px; /* Ancho fijo */
    overflow: hidden; /* Evita que el texto largo lo agrande */
    text-align: right;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

#carrito-container {
    min-width: 120px;
    max-width: 120px; /* Ancho fijo */
    overflow: hidden;
}


header h1 {
    font-size: 2em;
    margin: 0;
    line-height: 80px; /* Asegura que el h1 ocupe la misma altura */
}


header div, header nav, #login-container, #carrito-container {
    margin: 0;
    padding: 5px 0;
}

html {
    overflow-y: scroll;
}