header {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    max-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

footer {
    background-color: #003772;
    color: white;
    min-height: 80px;
    max-height: 80px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header h1 {
    width: 250px;  
    white-space: nowrap; 
    overflow: hidden; 
    text-align: left;
}

.header-container {
    display: flex;
    width: calc(100% - 100px);
    justify-content: space-between;
    align-items: center;
    left: 0;
    padding-left: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

#carrito-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.carrito-btn {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.carrito-btn:hover {
    text-decoration: underline;
}

#login-container {
    min-width: 200px;
    max-width: 200px;
    display: flex;
    overflow: hidden;
    text-align: right;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

#login-container p {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

#login-container a {
    color: white;
}

#carrito-container {
    min-width: 120px;
    max-width: 120px;
    overflow: hidden;
}


header h1 {
    font-size: 2em;
    margin: 0;
    line-height: 80px;
}


header div, header nav, #login-container, #carrito-container {
    margin: 0;
    padding: 5px 0;
}

html {
    overflow-y: scroll;
}

form {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    width: 234px;
}

form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    width: 94px;
    outline: none;
}

form select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    cursor: pointer;
    width: 65px;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

form button:hover {
    background-color: #0056b3;
}
